<% title "Вход" %>

<div id="login_box">
  <h1><%= AppConfig[:site_name] %></h1>
  <%= simple_form_for :session, url: session_path do |f| %>
    <%= f.input :password, required: false, label: "Пароль" %>
    <%= image_submit_tag "btn_sign-in.png", width: "74", height: "33" %>
  <% end %>
</div>
