<div class="sidebox-wrapper">
  <h5>Как это работает?</h5>
  <p>
    Пункт <strong>напоминаний</strong> в главном меню будет появляться как только приложению будет что вам напомнить о ваших пациентах.<br />
    Рядом с каждым пациентом указан его номер телефона, так что вы сразу cможете позвонить ему и поздравить с <strong>днем рождения</strong>
    или пригласить на <strong>профилактический осмотр</strong>.
  </p>
</div>