<div class="sidebox-wrapper">
  <h5>Как это работает?</h5>
  <p>В таблице указаны <strong>сумма оказанных услуг</strong>, <strong>количество посещений</strong> и <strong>количество новых пациентов</strong> за выбранный промежуток времени. Данные приведены как в общем по всей клинике, так и по каждому врачу, работающему у вас.</p>
  <p>Чтобы выбрать интересующий вас промежуток времени, достаточно кликнуть по его названию в указанном слева списке.</p>
</div>