<tr>
  <td><%= link_to patient.full_name, patient %></td>
  <td><%= patient.age %></td>
  <td>
  <% if patient.appointments.any? %>
    <time datetime="<%= patient.appointments.last.created_at %>"><%= link_to l(patient.appointments.last.created_at.to_date), edit_appointment_path(patient.appointments.last) %></time>
  <% end %>
  </td>
</tr>