.simple_form.appointment {
  label[for="appointment_history"] {
    display: none;
  }
  
  textarea#appointment_history {
    width: 98%;
    display: block;
    height: 400px;
  }
  
  .hint {
    margin-left: 0 !important;
  }
}