#recentVisits {
  thead {
    td {
      color: #888;
    }
  }
  
  tbody {    
    td {
      border-bottom: 1px #efefed solid;
      padding: 4px 0;
      
      &.additional {
        color: #666;
      }
    }
    
    tr {
      &.hidden {
        display: none;
      }
      
      &:last-child {
        td {
          border: none;
        }
      }
    }
  }
  
  .dots { display: none; }
  
  #show_other_appointments {
    position: relative;
    display: block;
    margin: 0.75em 0 0.4166em;
    text-align: center;
    
    a {
      background-color: #f1f8fe;
      border: 1px solid #e5e5e5;
      padding: 3px 0.75em;      
      line-height: 2;
      text-align: center;      
      border-radius: 6px;
      -webkit-border-radius: 6px;
      text-decoration: none;
      color: #888;
      text-shadow: #fff 0px 1px 0px;
      
      &:hover {
        border-color: #999;
        cursor: pointer;
      }
    }
  }
}

#patients {
  position: relative;
  display: block;
  padding: 0.5em 0.5em 1em 1.9166em;
}

table#patients-list {
  width: 100%;
  margin-bottom: 2.1666em;
  border-spacing: 0px 0px;
  border-collapse: collapse;
  empty-cells: show;
  margin-top: 1.5em;
  
  $spacing: 0.4166em;
  
  thead {
    // background-color: #E9E9E9;    
    
    th {
      font-weight: bold;
      padding: $spacing;
      border-bottom: 1px solid #dadee5;    
    }
      
    // Tablesorting styles w/ jQuery plugin
    .header {
        cursor: pointer;
      &:after {
        content: "";
        float: right;
        margin-top: 7px;
        border-width: 0 4px 4px;
        border-style: solid;
        border-color: #000 transparent;
        visibility: hidden;
      }
    }
    // Style the sorted column headers (THs)
    .headerSortUp,
    .headerSortDown {
      background-color: #f1f8fe;
      text-shadow: 0 1px 1px rgba(255,255,255,.75);
    }
    // Style the ascending (reverse alphabetical) column header
    .header:hover {
      &:after {
        visibility:visible;
      }
    }
    // Style the descending (alphabetical) column header
    .headerSortDown,
    .headerSortDown:hover {
      &:after {
        visibility:visible;
        // .opacity(60);
      }
    }
    // Style the ascending (reverse alphabetical) column header
    .headerSortUp {
      &:after {
        border-bottom: none;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        visibility:visible;
        // .box-shadow(none); //can't add boxshadow to downward facing arrow :(
        // .opacity(60);
      }
    }
  }
  
  td {
    font-size: 1.1666em;
    padding: $spacing;
    border-bottom: 1px solid #efefef;    
    vertical-align: top;
  }
  
  tbody {
    
    a {
      color: #444;
      text-decoration: underline;
      padding: 1px;
      
      &:hover {
        background-color: #444;
        color: white;
        text-decoration: none;
      }
    }
    
    tr:nth-child(odd) td {
      background-color: #f9f9f9;
    }
  }
}