#service_query {
  width: 98%;
  margin: 1.25em auto;
  font-size: 1.1666em;
}

hr.solid {
  width: 100%;
  border: 0 hidden;
  border-top: 3px solid #ccc;
  clear: both;
  height: 0;
  margin: 1em 0 1.33em 0;
}

table#line_items_table {
  margin: 1.25em 0 0 0;
  width: 100%;
  border-spacing: 0px 0px;
  border-collapse: collapse;
  empty-cells: show;
  
  .icon {
    cursor: pointer;
  }
  
  th {
    border-bottom: 1px solid #ccc;
    font-style: italic;
    padding-bottom: 3px;
  }
  
  tbody {
    font-size: 1.1666em;
    
    tr:hover {
      background-color: #f1f8fe;
    }
    
    td {
      padding: 0.5em 0.4166em;
      border-bottom: 1px solid #efefef;    
      vertical-align: top;
      
      &:last-child {
        td {
          border-bottom: none;
        }
      }
      
      .line_item-price {
        font-family: "Courier New", Courier, serif;
        color: #333;
      }
    }    
  }
  
  tfoot {
    font-size: 1.1666em;
    
    tr.summary {
      font-weight: bold;
      
      td { padding: 0.5em 0.4166em; }
    }
  }
  
  strong {
    font-weight: bold;
  }
  
  input#service_query {
    margin-bottom: 0;
  }
}

ul.services_autocomplete {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  width: 85%;
  font-size: inherit;
  overflow-x: hidden;
  overflow-y: auto;
  clear: both;
  z-index: 1000;
  border-radius: 2px;
  -webkit-border-radius: 2px;

  li {
    padding: 0.416em 0.1666em;
    position: relative;
    
    .additional-attr {
      font-family: "Courier New", Courier, serif;
      font-size: 98%;
      float: right;
    }
  }
  
  li.selected {
    background-color: #0073ea;    
    color: white;
    font-weight: bold;
  }
}
