body.statistics {
  em {
    font-weight: bold;
  }
}

ul#ranges {
  position: relative;
  list-style: none;
  margin: 0.75em 0 3em 0;
  
  li {
    display: inline-block;
    margin: 0 2px 2px 0;
    font-size: 1em;
    
    &.selected {
      a {
        background-color: #ddd !important;
        border-color: #999;
      }
    }
    
    &.label {
      margin-right: 0.5em;
    }
    
    a {
      text-decoration: none;
      color: black;
      background-color: #eee;
      border: 1px solid #eee;
      padding: 0.20em 0.75em;     
      line-height: 2;
      text-align: center;      
      border-radius: 6px;
      -webkit-border-radius: 6px;
      
      &:hover {
        border-color: #999;
        cursor: pointer;
      }
    }
  }  
}

table#statistics_table {
  width: 100%;
  margin: 1.5em 0 0 0;
  
  a {
    color: #444;
    text-decoration: underline;
    padding: 1px;
    
    &:hover {
      background-color: #444;
      color: white;
      text-decoration: none;
    }
  }

  thead {
    th {
      font-style: italic;
      color: #333;
      padding: 0 0 0.5em 0;
      border-bottom: 1px solid #888;
      text-align: center;
    }
  }
  
  tbody {
    tr {
      &:first-child {
        font-size: 125%;
        
        td {
          border-bottom: 3px solid #dadee5;
          
          &:first-child {
            font-weight: bold;
          }
        }
      }
      
      &.odd {
        background-color: #f1f8fe;
      }
      
      td {
        padding: 1em;
        vertical-align: middle;
        text-align: center;  
        
        &.preview {
          img {
            // -webkit-border-radius: 2px;
            // border-radius: 2px;
          }
          
          p {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}
