<% title @appointment.patient.abbreviated_name %>

<h1 class="special">
  Новое посещение
  <div class="header-button"><%= link_to "Назад", :back %></div>
</h1>

<div class="liner">
  <%= render 'form' %>
</div>
