<%= content_tag_for(:tr, line_item) do %>
  <td><%= line_item.name %></td>
  <td class="line_item-price"><%= line_item.price %></td>
  <td>
    <div class="controls">
      <span class="delete">
        <span class="icon"></span>
      </span>
    </div>
  </td>
<% end %>